<% if (page.hide_copyright !==true && theme.copyright || page.copyright) { %>
        <div class="kira-post-copyright">
                    <% if (page.copyright) { %>
                        <%- page.copyright %>
                            <% } else { %>
                                <%- theme.copyright %>
                                    <% } %>
        </div>
        <% } %>
