<div class="kira-header">
    <a
        class="kira-drawer-button mdui-ripple"
        title="导航栏"
        onclick="document.querySelector('.kira-sidebar-modal').classList.add('show');document.querySelector('.kira-sidebar#sidebar').classList.add('show');"
    >
        <i class="kirafont icon-menu"></i>
    </a>
    <a class="kira-header-home" href="<%- url_for('/') %>" title="<%= config.title %>">
        <img
			src="<%= theme.avatar %>"
			alt="<%= config.author || config.title %>"
		/>
    </a>
    <a
        class="kira-header-link mdui-ripple"
        href="https://github.com/GlitchedReme/SlayTheSpire2ModdingTutorials"
        target="_blank"
        rel="noopener noreferrer"
        title="GitHub 仓库"
    >
        <i class="kirafont icon-github"></i>
    </a>
</div>